# Define /zabbix alias, this is the default
<VirtualHost *:80>
    ServerName {{ zabbix_domain }}
    DocumentRoot "/usr/share/zabbix"
    
    <Directory "/">
        Options FollowSymLinks
        AllowOverride None
        Order allow,deny
        Allow from all
    
        <IfModule mod_php5.c>
            php_value max_execution_time 300
            php_value memory_limit 128M
            php_value post_max_size 16M
            php_value upload_max_filesize 2M
            php_value max_input_time 300
        </IfModule>
    </Directory>
    
    <Directory "/conf">
        Order deny,allow
        Deny from all
        <files *.php>
            Order deny,allow
            Deny from all
        </files>
    </Directory>
    
    <Directory "/api">
        Order deny,allow
        Deny from all
        <files *.php>
            Order deny,allow
            Deny from all
        </files>
    </Directory>
    
    <Directory "/include">
        Order deny,allow
        Deny from all
        <files *.php>
            Order deny,allow
            Deny from all
        </files>
    </Directory>
    
    <Directory "/include">
        Order deny,allow
        Deny from all
        <files *.php>
            Order deny,allow
            Deny from all
        </files>
    </Directory>
    
    <Directory "/classes">
        Order deny,allow
        Deny from all
        <files *.php>
            Order deny,allow
            Deny from all
        </files>
    </Directory>
</VirtualHost>